* {
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    background-color: #000;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: -1;
    transition: all 2s;
}

.video1 {
    opacity: 1;
    transition: all 2s;
}

.docmunt {
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 0;
    opacity: 0;
    transition: all .5s;
    height: 0;
}

.docmunt.trans {
    height: max-content;
    transition: all .5s;
}

.docmunt .com {
    position: relative;
}

.docmunt .com .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: .5rem;
    padding: .5rem;
    border-radius: 150px;
    background-color: rgba(0, 0, 0, 0.493);
    opacity: .5;
    z-index: -1;
    right: 18px;
}

.docmunt img {
    width: 300px;
    height: 0;
    object-fit: contain;
    transition: all .5s;
}

.docmunt.trans img {
    width: 300px;
    height: 400px;
    transition: all .5s;
}

.btn {
    border: 10px solid rgb(26, 24, 25);
    padding: 10px;
    border-radius: 160px;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.btn1 {
    opacity: 1;
    top: 370px;
    left: 260px;
}

.btn2 {
    top: 470px;
    left: 480px;
}

.btn3 {
    top: 462px;
    left: 742px;
}

.btn4 {
    top: 418px;
    left: 996px;
}